body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-image: url("Thumbnail\ Effect\ Purple\ And\ Dark\ Blue\ Color\ Background\ Background\ Best\ Stock\ Photos\ png\ -\ Free\ PNG\ Images.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

#send-container {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#message-input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#message-input:focus {
  outline: none;
}
#send-container > button {
  background: #800080;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 23px;
  outline: none;
  color: #fff;
}

#message-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#message-container > li {
  padding: 0.5rem 1rem;
}
#message-container > li:nth-child(odd) {
  background: #efefef;
}

.nav-link {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: white;
  font-weight: bolder;
}

.my-div {
  width: 50%;
  height: auto;
  color: white;
  border: 1px solid whitesmoke;
  margin: auto;
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg,#301934,#800080) border-box;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Alegreya';font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 400px;
  max-width: 960px;
  word-wrap: break-word;
}